#banner {
  height: 300px;
}

#banner > img {
  width: 100%;
  height: 300px;
}

#body > h1 {
  margin-top: 8px;
}

#product-list {
  display: flex;
  flex-wrap: wrap; /*flex items의 여러 줄 묶음(줄 바꿈) 설정*/
  margin-top: 12px;
}

.product-card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px; /*모서리를 둥글게*/
  overflow: hidden; /*이미지 짤림을 방지*/
}

.product-img {
  width: 100%;
  height: 210px;
  object-fit: contain; /*가로 세로 비율을 맞춰준다*/
}

.product-contents {
  display: flex;
  flex-direction: column; /*수직정렬을 하기 위함*/
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.product-avatar {
  width: 24px;
}

.product-link {
  color: inherit; /*기본 색상*/
  text-decoration: none; /*텍스트의 밑줄이 사라짐*/
}

.product-footer {
  display: flex;
  justify-content: space-between; /*컨텐츠를 양쪽 끝으로 배치*/
  align-items: center;
  margin-top: 12px;
}
.product-date {
  font-size: 12px;
  color: rgb(136, 136, 136);
  margin-top: 1px;
}

#product-headline {
  margin-top: 8px;
}
